# ignore help dir
help/
# ignore all excel 2010 files
*.xlsx
# ignore __pycache dir__
__pycache__/
# dont ignore the test excel spread sheet
!test_sheet.xlsx
# ignore log files
*.log
# dont ignore recent.log
!recent.log